.DS_Store
Gemfile.lock
log/*
tmp
.autotest
.bundle
.project
coverage
test/coverage
help
.idea
.rvmrc
.ruby-gemset
.settings/org.eclipse.core.resources.prefs
.override_db
.use_spork
*.swp
.sass-cache/
*.swo
TODO

# ignore personal files
_ignore
.envrc
.yardoc/
tasks/
